<odoo>
    <data>
        <menuitem
            id="sgn_menu"
            name="Système de gestion notariale"
            sequence="1"/>

        <menuitem id="sgn_dashboard" name="Tableau de Bord" parent="sgn_menu" action="sgn_dashboard_action" sequence="1"/>
        <menuitem id="sgn_client" name="Client" parent="sgn_menu" action="sgn_client_action" sequence="2"/>
        <menuitem id="sgn_propriete" name="Propriétes" parent="sgn_menu" action="sgn_propriete_action" sequence="3"/>
        <menuitem id="sgn_dossier" name="Dossiers" parent="sgn_menu" action="sgn_dossier_action" sequence="4"/>
        

        <menuitem id="sgn_configuration" name="Configuration" parent="sgn_menu" sequence="10" groups="system_gestion_notariale.sgn_group_admin"/>
        <menuitem id="sgn_settings" name="Paramètres" parent="sgn_configuration" action="sgn_settings_action" sequence="11" groups="system_gestion_notariale.sgn_group_admin"/>
        <menuitem id="sgn_nationalite" name="Nationalité" parent="sgn_configuration" action="sgn_nationalite_action" sequence="12"/>
        <menuitem id="sgn_categorie_propriete" name="Categorie Propriete" parent="sgn_configuration" action="sgn_categorie_propriete_action" sequence="13" groups="system_gestion_notariale.sgn_group_admin"/>
        <menuitem id="sgn_phase" name="Phase" parent="sgn_configuration" action="sgn_phase_action" sequence="14" groups="system_gestion_notariale.sgn_group_admin"/>
        <menuitem id="sgn_conservation" name="Conservation Fonciere" parent="sgn_configuration" action="sgn_conservation_action" sequence="15" groups="system_gestion_notariale.sgn_group_admin"/>
        <menuitem id="sgn_ville" name="Ville" parent="sgn_configuration" action="sgn_ville_action" sequence="16"/>
    </data>
</odoo>
